body{
	background-color: green;

}

#sections{
	margin-top:-100px;
}
.wheelitem{
	display:none;
}
.t_num i{
	width:28px;
	height:40px;
	background-image:url("../Images/number.png");
	text-indent:-999em;
	float:left;
	margin-right:5px;
}
.item1{
	float:left;
	width:500px;
	margin-right:85px;
	margin-top:135px;
}
.item2{
	float:left;
	margin-top:150px;
}
#plane{
	position:relative;
	margin-top:100px;
}
.clearfix:after {       /*在类名为“clearfix”的元素内最后面加入内容；*/
	
	 content: ".";     /*内容为“.”就是一个英文的句号而已。也可以不写。*/
	
	 display: block;   /*加入的这个元素转换为块级元素。*/
	
	 clear: both;     /*清除左右两边浮动。*/
	
	 visibility: hidden;     /*可见度设为隐藏。注意它和display:none;是有区别的。visibility:hidden;仍然占据空间，只是看不到而已；*/
	
	 line-height: 0;    /*行高为0；*/
	
	 height: 0;     /*高度为0；*/
	
	 font-size:0;    /*字体大小为0；*/
	
}
@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Open Sans", "Arial", sans-serif;
	outline: none; 
} 

.trm {
	text-indent: -999999px;
	overflow: hidden;
	display: block; 
}

.centered {
	margin: 0 auto; 
}

.removable {
	position: absolute;
}

#sections .section .content.wide {
	width: 960px;
}

/*For sections.*/
#sections {
	width: 100%;
	min-width: 960px; 
}

#sections .section .content {
	width: 100%;
	min-height: 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden; 
}

/*This is the section0.*/
#sections .section#s0 {
	background: #3498db;
}

#sections .section#s0 .item1 {
	background: url(../Images/复旦学生网十三周年站庆特别策划.png) no-repeat;
	width: 569px;
	height: 36px;
	margin-top: 180px;
	float:none;
}



#sections .section#s0 .item3 {
	background: url(../Images/title.png) no-repeat;
	width: 945px;
	height: 316px;
	margin-top: 50px;
	float:none;
	margin-top:180px;
}


#sections .section#s0 .gotosection {
	background: url(../Images/Godown.png) no-repeat;
	width: 120px;						
	height: 120px;
	margin-top:70px;
}

#sections .section#s0 .gotosection:hover {
	background-position: bottom; 
}

/*This is the section1.*/
#sections .section#s1 {
	background: #3498db;
}

#sections .section#s1 .item1 {
	height: 480px;
	margin-top: 135px;
	
}

#sections .section#s1 #wave1 {
	background: url(../Images/wave1.png) no-repeat;
	width: 96px;
	height: 34px;
	margin-top: 332px;
	margin-left: 80px;
	z-index: 1;
}

#sections .section#s1 #wave2 {
	background: url(../Images/wave2.png) no-repeat;
	width: 95px;
	height: 33px;
	margin-left:13px;
	margin-top:207px;
	z-index:-1;
}

#sections .section#s1 #wave3 {
	background: url(../Images/wave3.png) no-repeat;
	width: 138px;
	height: 33px;
	margin-top: 358px;
	margin-left: 269px;
}

#sections .section#s1 #wave4 {
	background: url(../Images/wave4.png) no-repeat;
	width: 138px;
	height: 34px;
	margin-top: 445px;
	margin-left: 315px;
}

#sections .section#s1 #wave5 {
	background: url(../Images/wave5.png) no-repeat;
	width: 222px;
	height: 34px;
	margin-top: 409px;
	margin-left:37px;
	z-index: 1;
}

#sections .section#s1 #Bigboat {
	background: url(../Images/Bigboat.png) no-repeat;
	width: 256px;
	height: 235px;
	margin-top: 122px;
	margin-left: 110px;
}

#sections .section#s1 #Smallboat {
	background: url(../Images/Smallboat.png) no-repeat;
	width: 52px;
	height: 48px;
	margin-top: 141px;
	margin-left: 340px;
}

#sections .section#s1 #cloud1 {
	background: url(../Images/cloud1.png) no-repeat;
	width: 92px;
	height: 59px;
	margin-left:310px;
	margin-top: 30px;
}

#sections .section#s1 #cloud2 {
	background: url(../Images/cloud2.png) no-repeat;
	width: 73px;
	height: 46px;
	margin-left: 13px;
	margin-top: 41px;
}

#sections .section#s1 #cloud3 {
	background: url(../Images/cloud3.png) no-repeat;
	width: 90px;
	height: 57px;
	margin-left:97px;
	margin-top: 8px;
}

#sections .section#s1 #sun {
	background: url(../Images/sun.png) no-repeat;
	width: 64px;
	height: 64px;
	margin-left:52px;
	margin-top:0px;
}

#sections .section#s1 #number1 {
	background: url(../Images/number1.png) no-repeat;
	width: 172px;
	height: 20px;
	margin-left: 292px;
	margin-top: 402px;
}

#sections .section#s1 #number2 {
	background: url(../Images/number2.png) no-repeat;
	width: 213px;
	height: 20px;
	margin-top: 465px;
	margin-left: -39px;
}

#sections .section#s1 .item2 {
	width: 200px;
}

#sections .section#s1 #May {
	background: url(../Images/May.png) no-repeat;
	width: 112px;						
	height: 90px;
}

#sections .section#s1 #birth {
	background: url(../Images/诞生.png) no-repeat;
	width: 359px;						
	height: 174px;
	margin-top: 70px;
}

/*For section2*/
#sections .section#s2 {
	background: #2ecc71;
}

#sections .section#s2 .item1 {
	height: 494px;
	margin-top: 135px;
	
	float: left;
}


#sections .section#s2 #Aup {
	background: url(../Images/Aup.png) no-repeat;
	width: 58px;
	height: 69px;
	margin-top:100px;
	margin-left:261px;
}

#sections .section#s2 #Ale{
	margin-top: 264px;
	margin-left: 0px;
	z-index: 1;
	opacity:0;
}

#sections .section#s2 #Ari {
	margin-top: 350px;
	margin-left: 258px;
	z-index: 1;
	opacity:0;

}
#Ari img{
	transform:matrix(0.7270774877427933,-0.6865554069538949,0.6865554069538949,0.7270774877427933,0,0);
	-webkit-transform:matrix(0.7270774877427933,-0.6865554069538949,0.6865554069538949,0.7270774877427933,0,0);
}
#planeline1{
	width:137px;
	height:437px;
	margin-top:346px;
	margin-left:120px;
	background: url(../Images/planeline1.png) no-repeat;
}
#planeline2{
	width:34px;
	height:138px;
	margin-top:285px;
	margin-left:340px;
	background: url(../Images/planeline2.png) no-repeat;
}
#sections .section#s2 #Bigball {
	background: url(../Images/Bigball.png) no-repeat;
	width: 387px;
	height: 387px;
	margin-top: 70px;
	margin-left: 88px;
}

#sections .section#s2 .item2 {
	width: 200px;
}

#sections .section#s2 #Intro2 {
	background: url(../Images/Intro2.png) no-repeat;
	width: 369px;
	height: 174px;
	margin-top: 70px;
}

#sections .section#s2 #Y2002 {
	background: url(../Images/Y2002.png) no-repeat;
	width: 114px;
	height: 86px;
}

/*For section3*/
#sections .section#s3 {
	background: #e74c3c;
}

#sections .section#s3 .item1 {
	
	height: 409px;
	margin-top: 135px;
	float: left;
}

#sections .section#s3 #number {
	width: 247px;
	height: 38px;
	margin-left: 165px;
	margin-top: 261px;
	position:absolute;
	z-index:1;
	font-weight:bold;
	font-size:48px;
	color:white;
}

#sections .section#s3 #radio {
	background: url(../Images/radio.png) no-repeat;
	width: 460px;
	height: 266px;
	margin-top: 137px;
	margin-left: 52px;
}

#sections .section#s3 .item2 {
	width: 200px;
}

#sections .section#s3 #Intro3 {
	background: url(../Images/Intro3.png) no-repeat;
	width: 354px;
	height: 174px;
	margin-top: 70px;
}

#sections .section#s3 #Y2004 {
	background: url(../Images/Y2004.png) no-repeat;
	width: 121px;
	height: 86px;
}

/*For section4*/
#sections .section#s4 {
	background: #f1c410;
}

#sections .section#s4 .item1 {
	height: 445px;
	margin-top: 135px;
	float: left;
	
}

#sections .section#s4 #ferrisWheel {
	background: url(../Images/ferrisWheel.png) no-repeat;
	width: 338px;
	height: 387px;
	margin-top: 60px;
	margin-left:110px;
}

#sections .section#s4 #browser {
	background: url(../Images/browser.png) no-repeat;
	width: 151px;
	height: 133px;
	margin-top: 165px;
	margin-left: 202px;
}

#sections .section#s4 #hr {
	background: url(../Images/hr.png) no-repeat;
	width: 65px;
	height: 67px;
	
}

#sections .section#s4 #mkt {
	background: url(../Images/mkt.png) no-repeat;
	width: 65px;
	height: 67px;
	
}

#sections .section#s4 #live {
	background: url(../Images/live.png) no-repeat;
	width: 65px;
	height: 67px;
	
}

#sections .section#s4 #cv {
	background: url(../Images/cv.png) no-repeat;
	width: 65px;
	height: 67px;
	
}

#sections .section#s4 #design {
	background: url(../Images/design.png) no-repeat;
	width: 65px;
	height: 67px;
	
}

#sections .section#s4 #html {
	background: url(../Images/html.png) no-repeat;
	width: 65px;
	height: 67px;
	
}

#sections .section#s4 #tech {
	background: url(../Images/tech.png) no-repeat;
	width: 65px;
	height: 67px;
	
}

#sections .section#s4 .item2 {
	width: 200px;
}

#sections .section#s4 #Intro4 {
	background: url(../Images/Intro4.png) no-repeat;
	width: 376px;
	height: 174px;
	margin-top: 70px;
}

#sections .section#s4 #Y2005 {
	background: url(../Images/Y2005.png) no-repeat;
	width: 120px;
	height: 86px;
}

/*For section5*/
#sections .section#s5 {
	background: #8e44ad;
}

#sections .section#s5 .item1 {
	
	height: 445px;
	margin-top: 135px;
	
	float: left;
}

#sections .section#s5 #hp {
	background: url(../Images/hp.png) no-repeat;
	width: 277px;
	height: 268px;
	margin-top: 100px;
	margin-left: 62px;
	z-index: 2;
}

#sections .section#s5 #line3 {
	background: url(../Images/line3.png) no-repeat;
	width: 0px;
	height: 2px;
	margin-top: 360px;
	margin-left: 368px;
	z-index: 1;
}

#sections .section#s5 #line2 {
	background: url(../Images/line2.png) no-repeat;
	width: 0px;
	height: 2px;
	margin-left: 248px;
	margin-top:327px;
	z-index: 1;
}

#sections .section#s5 #line1 {
	background: url(../Images/line1.png) no-repeat;
	width: 0px;
	height: 2px;
	margin-left: 248px;
	margin-top: 294px;
	z-index: 1;
}

#sections .section#s5 #contest {
	background: url(../Images/contest.png) no-repeat;
	width: 119px;
	height: 19px;
	margin-left: 354px;
	margin-top:247px;
	z-index: 1;
}

#sections .section#s5 #paper {
	background: url(../Images/paper.png) no-repeat;
	width: 299px;
	height: 214px; 
	margin-top: 205px;
	margin-left: 209px;
}

#sections .section#s5 .item2 {
	width: 200px;
}

#sections .section#s5 #Intro5 {
	background: url(../Images/Intro5.png) no-repeat;
	width: 358px;
	height: 174px;
	margin-top: 70px;
}

#sections .section#s5 #Y2008 {
	background: url(../Images/Y2008.png) no-repeat;
	width: 107px;
	height: 87px;
}

/*For section6*/
#sections .section#s6 {
	background: #f39c12;
}

#sections .section#s6 .item1 {
	height: 445px;
	margin-top: 135px;
	
	float: left;
}

#sections .section#s6 #lesson {
	background: url(../Images/lesson.png) no-repeat;
	width: 124px;
	height: 124px;
	margin-top: 233px;
	margin-left: 58px;
}

#sections .section#s6 #event {
	background: url(../Images/event.png) no-repeat;
	width: 144px;
	height: 144px;
	margin-top: 274px;
	margin-left: 380px;
}

#sections .section#s6 #tv {
	background: url(../Images/tv.png) no-repeat;
	width: 172px;
	height: 172px;
	margin-top: 80px;
	margin-left: 209px;
}

#sections .section#s6 #bubble1 {
	background: url(../Images/bubble1.png) no-repeat;
	width: 56px;
	height: 56px;
	margin-left: 182px;
	margin-top: 332px;
}

#sections .section#s6 #bubble2 {
	background: url(../Images/bubble2.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-left: 46px;
	margin-top: 125px;
}

#sections .section#s6 #bubble3 {
	background: url(../Images/bubble3.png) no-repeat;
	width: 37px;
	height: 37px;
	margin-top: 145px;
	margin-left: 129px;
}

#sections .section#s6 #bubble4 {
	background: url(../Images/bubble4.png) no-repeat;
	width: 37px;
	height: 37px;
	margin-top: 299px;
	margin-left: 235px;
}

#sections .section#s6 #bubble5 {
	background: url(../Images/bubble5.png) no-repeat;
	width: 70px;
	height: 70px;
	margin-top: 180px;
	margin-left: 400px;	
}

#sections .section#s6 .item2 {
	width: 200px;
}

#sections .section#s6 #Intro6 {
	background: url(../Images/Intro6.png) no-repeat;
	width: 360px;
	height: 174px;
	margin-top: 70px;
}

#sections .section#s6 #Y2009 {
	background: url(../Images/Y2009.png) no-repeat;
	width: 115px;
	height: 89px;
}

/*For section7 of 2012*/
#sections .section#s7 {
	background: #2c3e50;
}

#sections .section#s7 .item1 {
	height: 603px;
	float: left;
}

#sections .section#s7 #cry {
	background: url(../Images/cry.png) no-repeat;
	width: 338px;
	height: 338px;
	margin-top: 80px;
	margin-left: 109px;
	display:none;
}

#sections .section#s7 .item2 {
	width: 200px;
}

#sections .section#s7 #Intro7 {
	background: url(../Images/Intro7.png) no-repeat;
	width: 358px;
	height: 174px;
	margin-top: 70px;
}

#sections .section#s7 #Y2012 {
	background: url(../Images/Y2012.png) no-repeat;
	width: 109px;
	height: 88px;
}

/*For section8 of 2013*/
#sections .section#s8 {
	background: #1abc9c;
}

#sections .section#s8 .item1 {
	height: 603px;
	float: left;
}

#sections .section#s8 #box {
	background: url(../Images/box.png) no-repeat;
	width: 409px;
	height: 251px;
	margin-left: 90px;
	margin-top: 167px;
}

#sections .section#s8 #ticket {
	background: url(../Images/ticket.png) no-repeat;
	width: 96px;
	height: 103px;
	margin-top: 130px;
	margin-left: 175px;
	background-position-y: 100%; 
}

#sections .section#s8 .item2 {
	width: 200px;
}

#sections .section#s8 #Intro8 {
	background: url(../Images/Intro8.png) no-repeat;
	width: 358px;
	height: 174px;
	margin-top: 70px;
}

#sections .section#s8 #Y2013 {
	background: url(../Images/Y2013.png) no-repeat;
	width: 108px;
	height: 87px;
}

/*For section9 of 2014*/
#sections .section#s9 {
	background: #bdc3c7;
}

#sections .section#s9 .item1 {
	height: 603px;
	float: left;
}

#sections .section#s9 #someShape {
	background: url(../Images/someShape.png) no-repeat;
	width: 491px;
	height: 190px;
	top: -270px;
	left: -120px;
}

#sections .section#s9 #iphoneBlack {
	background: url(../Images/iphoneBlack.png) no-repeat;
	width: 168px;
	height: 353px;
	top: -140px;
	left: 160px;
}

#sections .section#s9 #iphoneWhite {
	background: url(../Images/iphoneWhite.png) no-repeat;
	width: 169px;
	height: 354px;
	top: -530px;
	left: -70px;
}

#sections .section#s9 .item2 {
	width: 200px;
}

#sections .section#s9 #Intro9 {
	background: url(../Images/Intro9.png) no-repeat;
	width: 360px;
	height: 174px;
	margin-top: 70px;
}

#sections .section#s9 #Y2014 {
	background: url(../Images/Y2014.png) no-repeat;
	width: 108px;
	height: 87px;
}

/*Final section10*/
#sections .section#s10 {
	background: #f6f6f6;
}

#sections .section#s10 .item1 {
	background: url(../Images/Words.png) no-repeat;
	width: 943px;
	height: 41px;
	margin-top: 209px;
	float:none;
}

#sections .section#s10 .item2 {
	background: url(../Images/Welcome.png) no-repeat;
	width: 549px;
	height: 109px;
	margin-top: 80px;
	float:none;
}
#sections .section#s10 .item2:hover{
	background: url(../Images/enter_hover.png) no-repeat;
}

#sections .section#s10 .backTop {
	background: url(../Images/Up.png) no-repeat;
	width: 92px;						
	height: 92px;
	margin-top: 75px;
}
#sections .section#s10 .backTop:hover{
	background: url(../Images/back_to_top_hover.png) no-repeat;
} 
#sections .section#s10 .backTop:hover {
}

#sections .section#s10 .item3 {
	background: url(../Images/backTop.png) no-repeat;
	width: 105px;
	height: 24px;
	margin-top: 25px;
	position: relative;
	left: 3px;
}
#top{
	cursor:pointer;
}
#stu{
	cursor:pointer;
}
#s0 .item4{
	position:absolute;
	margin-left:125px;
	margin-top:-95px;
	left:50%;
	width: 180px;
	height: 73px;
	background: url(../Images/updown.png) no-repeat;
}
#sections .section#s0 .ball {
	background: url(../Images/net.gif) no-repeat;
	width: 103px;
	height:103px;
	left:50%;
	margin-top:220px;
	animation-name: myfirst;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: myfirst;
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: linear;
	
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: myfirst;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: myfirst;
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: linear;
	
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;

}
@keyframes myfirst
{
	from{
		transform:rotateY(0deg);
		-ms-transform:rotateY(0deg); 	/* IE 9 */
		-moz-transform:rotateY(0deg); 	/* Firefox */
		-webkit-transform:rotateY(0deg); /* Safari 和 Chrome */
		-o-transform:rotateY(0deg); 
	}
	to{
		transform:rotateY(180deg);
		-ms-transform:rotateY(180deg); 	/* IE 9 */
		-moz-transform:rotateY(180deg); 	/* Firefox */
		-webkit-transform:rotateY(180deg); /* Safari 和 Chrome */
		-o-transform:rotateY(180deg); 
	}
}

@-moz-keyframes myfirst /* Firefox */
{
	from{
		transform:rotateY(0deg);
		-ms-transform:rotateY(0deg); 	/* IE 9 */
		-moz-transform:rotateY(0deg); 	/* Firefox */
		-webkit-transform:rotateY(0deg); /* Safari 和 Chrome */
		-o-transform:rotateY(0deg); 
	}
	to{
		transform:rotateY(180deg);
		-ms-transform:rotateY(180deg); 	/* IE 9 */
		-moz-transform:rotateY(180deg); 	/* Firefox */
		-webkit-transform:rotateY(180deg); /* Safari 和 Chrome */
		-o-transform:rotateY(180deg); 
	}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
	from{
		transform:rotateY(0deg);
		-ms-transform:rotateY(0deg); 	/* IE 9 */
		-moz-transform:rotateY(0deg); 	/* Firefox */
		-webkit-transform:rotateY(0deg); /* Safari 和 Chrome */
		-o-transform:rotateY(0deg); 
	}
	to{
		transform:rotateY(180deg);
		-ms-transform:rotateY(180deg); 	/* IE 9 */
		-moz-transform:rotateY(180deg); 	/* Firefox */
		-webkit-transform:rotateY(180deg); /* Safari 和 Chrome */
		-o-transform:rotateY(180deg); 
	}

@-o-keyframes myfirst /* Opera */
{
	from{
		transform:rotateY(0deg);
		-ms-transform:rotateY(0deg); 	/* IE 9 */
		-moz-transform:rotateY(0deg); 	/* Firefox */
		-webkit-transform:rotateY(0deg); /* Safari 和 Chrome */
		-o-transform:rotateY(0deg); 
	}
	to{
		transform:rotateY(25deg);
		-ms-transform:rotateY(25deg); 	/* IE 9 */
		-moz-transform:rotateY(25deg); 	/* Firefox */
		-webkit-transform:rotateY(25deg); /* Safari 和 Chrome */
		-o-transform:rotateY(25deg); 
	}
}
